.bar:hover {
    fill: var(--green-2);
    opacity: 0.9;
    cursor: pointer;
    transition: 1s;
}

#port-pie-wrap{
    margin-bottom: 2em;
    
}

.x-axis-text{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--green-3);
    transform: rotate(-30deg);
    
}