#main{
    display: flex;
    flex-direction: column;
    width: 80%; 
    float: right;
    min-height: 100vh;
}

h1 { 
  font-size: 5em;
  font-family: 'Kanit', sans-serif;
  margin: 20px 0;
  color: var(--green-3);
  text-align: center;
}

content{
 
  padding: 20px;
}

h2 {
  font-size: 3em;
}

footer{
  height: 5em; 
  width: 100%; 
  color: var(--gray-1); 
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: var(--black-1);
  width: 80%; 
  float: right; 
}

