#main{
    display: flex;
    flex-direction: column;
    width: 80%; 
    float: right;
  
  
}

h1 { 
  font-size: 5em;
  font-family: 'Kanit', sans-serif;
  margin: 20px 0;
  color: var(--green-3);
  text-align: center;
}

content{
 
  padding: 20px;
}

