#header{
    display: flex;
    width: 100%;
    padding: 10px;
    
  
}

#header > div{
    flex: 5;
    text-align: right;
 
}
#header > h1{ 
    position: relative;
    left: -100%;
    opacity: 0;

}
#header > h1.header-shown{ 
    left: 0; 
    opacity: 1; 
    transition: left 1s, opacity 2s; 
}

#header > h1 > img{
    width: 30px;
    height: 30px;
    
}

#cyberfrog{
    width: 120px; 
    height: 120px;
    border-radius: 100%;
    position: relative;
    top: 400%;
    right: 200%; 
    opacity: 0; 
}

#cyberfrog.moved{
    top: 0; 
    right: 0;
    opacity: 1;
    border-radius: 100%;
    transition: top 1s, right 1s, opacity 2.5s;
    
}