#port-wrap{
    background-color: var(--gray-3);
    color: var(--white-1); 
    border: 2px solid var(--gray-1);
    padding: 10px;
    min-height: 10em;
}

#port-wrap img{
    height: 25px; 
    width: 25px;
}

#port-list  li{
    display: flex; 
    justify-content: space-between;
    div{
        flex: 0.5;
    }
    span{
        flex: 1;
    }
    
    button{ 
        flex: 0.2;
        cursor: pointer;
    }
}

#port-list > #amount-input > input{
    width: 5%; 
}

#port-list > #amount-input > span {
    width: 95%;
    text-align: right;
}