#port-wrap{
    background-color: var(--gray-3);
    color: var(--white-1); 
    border: 2px solid var(--white-1);
    padding: 10px;
    min-height: 5em;
    z-index: -3; 
}

#port-wrap img{
    height: 25px; 
    width: 25px;
   
}

#port-list  li{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    div{
        flex: 1;
    }
    span{
        flex: 1.666666;
        font-size: 1.2rem;
    }
    
    button{ 
        flex: 1;
        cursor: pointer;
    }
}

#port-list > #amount-input{
    border-bottom: 2px solid var(--gray-2); 
}
#port-list > #amount-input > input{
    flex: 1;  
    margin-right: 0.3rem;
}

#port-list > #amount-input > span {
    flex: 5;
    text-align: right;
    color: var(--gray-1);
    margin-right: 0.3rem;
    
}
#port-list > #amount-input > button {
    flex: 1;
    text-align: center;
    border-radius: 5px; 
    background-color: var(--gray-1);
    letter-spacing: 2px;
    transition: 0.3s;
    height: 2rem;
    padding: 0 10px;
    
}
#port-list>#amount-input>button:hover {
    background-color: var(--green-3);
    color: white; 
    font-weight: 600;
    letter-spacing: 3px;
}

.dollar-number{
    color: var(--green-2); 
}

.remove-button{
    cursor: pointer; 
    border-radius: 5px;
    background: var(--red-1);
    color: var(--black-1);
    font-size: 1rem;
    transition: 1s;
    letter-spacing: 1px;
    position: relative; 
    height: 2rem;
    flex: 2;
    text-align: center;
    box-sizing: border-box;
    
}
.remove-button:hover{
    color: var(--white-1);
    background-color: var(--red-2);
    letter-spacing: 5px;
    font-size: 1.1rem;
}


