#search-wrap{

    padding: 10px;
    border: 2px solid var(--gray-1);
}



#search-results{
    padding: 10px;
    margin: 0 0 0 10px; // this puts list numbers inside of the border box
    list-style-type: number;
}


