#search-wrap{

    padding: 10px;
    border: 2px solid var(--gray-1);
    margin-bottom: 20px;
}



#search-results{
    padding: 10px;
    margin: 0 0 0 10px; // this puts list numbers inside of the border box
    list-style-type: number;
}

#search-results > li{
    display: flex; 
    span{
        flex: 1;
    }

    button{ 
        cursor: pointer;
    }
}

#search-results > li:hover{
    background-color: var(--gray-1);
}


